.search-audio-button {
    padding: .75em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #777;
    background-color: white;
    outline: none;
    font-weight: bold;
}

.search-audio-button:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}